article
{
    height: 1200px;
}
aside 
{

    width: 230px;
    float: left;
    
}
h2
{
    margin-bottom: 5px;
}
h3
{
    margin-bottom: 5px;
    margin-top: 5px;
}
hr
{
    border: none;
    height: 2px;
    background-color: navy
}
img
{
    border-radius: 10px;
    float: right;
}
.contact
{
    font-weight: bold
}
.descriptor
{
    font-style: italic;
    margin-bottom: 0;
    margin-top: 0;
}
.descriptor2
{
    margin-bottom: 0;
    margin-top: 0;
}
#header 
{
    height: 50px;
    background: #90c3f3;
    border-bottom: solid navy 10px;
    border-top: solid navy 10px;
    padding-top: 20px;
    align-content: center;
    text-align: center;
    
}
a.button {
    padding: 4px;
    border: 1px outset buttonborder;
    border-radius: 5px;
    color: black;
    background-color: azure;  
    text-decoration: none;
    margin: 10px;
}
#wrapper 
{
    margin-left: 100px;
    margin-right: 100px;
    height: 1500px;
    background-color: #ffffff;
}
.index
{
    padding-left: 250px;
}
.portrait
{
    width:100px;
    border-radius: 20px;
}
#gameContainer
{
    text-align: center;
}
#gameBoard
{
    border: 3px solid;
    
}
#scoreText
{
    font-size: 100px;
}
#resetBtn
{
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 2px solid;
    border-radius: 15px;
    cursor: pointer;
}